*.swp
*.xpi
components/*.dll
components/*.dll.manifest
components/*.exp
components/*.lib
components/*.o
components/media/windows/*.o
components/media/windows/test/*.exe
components/media/windows/test/*.exe.manifest
components/media/windows/test/*.o
components/IMediaRecorder.h
components/IMediaRecorder.xpt
