*.swp
*.xpi
components/*.dll
components/*.dll.manifest
components/*.exp
components/*.ilk
components/*.lib
components/*.o
components/*.pdb
components/windows/*.o
components/windows/test/*.exe
components/windows/test/*.exe.manifest
components/windows/test/*.o
components/IMediaRecorder.h
components/IMediaRecorder.xpt
